doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(href='http://fonts.googleapis.com/css?family=Fauna+One', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Cinzel', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Quattrocento+Sans', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/responsive-video.css')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/javascripts/jquery-1.10.1.min.js')
        script(src='/javascripts/plugins.js')
        script(src='/javascripts/facebook.js')
        script(src='/javascripts/analytics.js')

        // for SEO 
        link(rel='image_src', href='/images/nusbuzz.png')

        // for Facebook Open Graph Tag SEO info 
        meta(property='og:title', content='NUS BUZZ | VOTE FOR US! | SMS "m10" to 77577')
        meta(property='og:url', content='http://nusbuzz.com/')
        meta(property='og:image', content='http://nusbuzz.com/images/nusbuzz.png')
        meta(property='og:site_name', content='NUS BUZZ | VOTE FOR US! | SMS "m10" to 77577')
            

        block extraHeaders

    body
        .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner 
                .nav-fonts.brand
                    a(href='/')
                        img(src='/images/nusbuzz.png')#leader-logo 

                ul.nav#top-nav
                    li
                        a(href='#page0').nav-fonts #Leader
                    li
                        a(href='#page1').nav-fonts #Video
                    li 
                        a(href='#page2').nav-fonts #Idea
                    li 
                        a(href='#page3').nav-fonts #Platforms
                    li 
                        a(href='#page4').nav-fonts #VOTE

        
        block content

    #fb-root

    script(src='/javascripts/animateScroll.js')
