body {
  font: 14px "Source Sans Pro", "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
  height: 100%;
}
.full-page {
  height: 100%;
}
/* For full page height stretch */
html,
body,
section,
.container {
  height: 100%;
}
img#heroImg {
  width: 400px;
  height: auto;
}
img#leader-logo {
  width: 80px;
  height: auto;
}
img#logo-p2 {
  width: 300px;
  height: auto;
  position: relative;
  top: -15px;
}
#page0 {
  background: url("/images/retina_wood.png") 50% 0 repeat fixed;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0 100px;
  font: 20px 'Cinzel', sans-serif;
}
#page1 {
  background: url("/images/clouds.jpg") 50% 0 repeat fixed;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0 100px;
  font: 20px 'Cinzel', sans-serif;
}
#page2 {
  background: url("/images/gridme.png") 50% 0 repeat fixed;
/*background-size: 100%;*/
  height: 100%;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0 100px;
  font: 20px 'Source Sans Pro', sans-serif;
/*font: 20px 'Quattrocento Sans', sans-serif;*/
}
#page3 {
  background: url("/images/binding_dark.png") 50% 0 fixed;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0 100px;
  color: #fff;
}
#page4 {
  background: url("/images/world-dots.png") 50% 0 repeat fixed;
  height: 100%;
/*background-size: 100%;*/
  margin: 0 auto;
  width: 100%;
  font: 20px 'Source Sans Pro', sans-serif;
  position: relative;
  padding: 100px 0 100px;
}
